.post__voteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.post__vote {
  border: 0;
  background: transparent;
  color: #3272dc;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.post__vote:hover {
  color: #363636;
}

.post__voteNumber {
  font-size: 2rem;
}

@media (max-width: 568px) {
  .post__voteContainer {
    flex-direction: row;
  }
}
